
@using System.Configuration
@using System.Web.Optimization
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Fync</title>

    @RenderSection("Styles", required: false)
    @Styles.Render("~/Content/css")
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
</head>
<body>
    @Html.Partial("_Header")

<div class="body">
    <div class="left-panel z-depth-2">
        
    </div>
    <div class="content-panel">
        @RenderBody()
    </div>    
</div>

</body>
</html>


<script src="http://fb.me/react-0.12.2.js"></script>
@Scripts.Render("~/Bundles/Scripts")
<script type="text/javascript">
    define('configuration', [], function () {
        return {
            apiUri: '@ConfigurationManager.AppSettings["ApiUri"]'
        };
    });
</script>

@RenderSection("Scripts", required: false)