@model Fync.Web.Models.Account.RegisterModel
           

@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    
    @Html.LabelFor(x => x.EmailAddress)
    @Html.TextBoxFor(x => x.EmailAddress)
    
    @Html.LabelFor(x => x.Password)
    @Html.PasswordFor(x => x.Password)
    
    <button type="submit">Login</button>
}
